.dog-style{
    padding: 2% 5%;
    overflow: hidden;
}

.dog-inner-div {
    // background: #fff3ed;
    height: 320px;
    border-radius: 3px;
    border: 1px solid #ddd;
    overflow:auto;
    display:block;
}

.inner-right-col {
  background: #9f98ad;
  height: 320px;
}